@page "/contare"
@rendermode InteractiveServer

<PageTitle>Contare</PageTitle>

<h1>Contare</h1>

<div class="readonly-textarea">
    <pre>@Text</pre>
</div>

<button class="btn btn-primary" @onclick="Count">Click me</button>

@code {
    private string Text = "";

    private async Task Count() {
        int idx;

        for (idx = 1; idx <= 10; idx += 1) {
            string pari_o_dispari;
            if (idx % 2 == 0) {
                pari_o_dispari = "pari";
            } else {
                pari_o_dispari = "dispari";
            }
            await AddText(idx + ": " + pari_o_dispari + ". Il doppio è: " + idx * 2);
        }
       
        await AddText("");
        await Task.Delay(1000);
        await AddText("Finito!");
    }

    private async Task AddText(object t) {
        Text += t.ToString() + '\n';
        StateHasChanged();
        await Task.Delay(500);
    }
}
